<ion-header>
  <ion-toolbar>
    <ion-title>Lista de rondas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="valign-wrapper2">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item class="ion-margin-vertical" *ngFor="let shift of shifts" (click)="openUrl(shift.shiftPlace)">
          <ion-label>{{ shift.date + ' ' + shift.start + ' ' + shift.finish }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>