<ion-header [translucent]="true">
  <ion-toolbar color ="dark">
    <ion-title>
      Listado Visitas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="valign-wrapper2">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-header>
    <ion-title>
      <br><br>
    </ion-title>
  </ion-header>
  <ion-list class="valign-wrapper4">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>NOMBRE</ion-label>
            <ion-label>PATENTE </ion-label>
            <ion-label> RUT</ion-label>
            <ion-label>Entrada</ion-label>
            <ion-label>Salida</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-item *ngFor="let visita of visitas" >
      <div (click)="saveVisitData(visita.visitId, visita.shiftShiftId, visita.name)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label (click)="openModal2()">
                {{visita.name}}
              
              
                {{visita.patent}}
              
                
             
                {{visita.rut}}
             
                {{visita.in}}
        
                {{visita.out}}
                <!-- {{visita.visitId}} -->
                <!-- {{visita.shiftShiftId}} -->
                <!-- <ion-label (click)=""> -->
               <!--  {{visita.out}} -->
             
              </ion-label>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>
  
  <ion-fab size="large" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openModal()"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
</ion-content>