<ion-header [translucent]="true">
  <ion-toolbar color ="dark">
    <ion-title>
      Listado Visitas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="valign-wrapper2">
  <ion-header>
    <ion-title>
    <br><br>
    </ion-title>
  </ion-header>
  <ion-list class="valign-wrapper4">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
             <ion-label>NOMBRE</ion-label>
             <ion-label>PATENTE</ion-label>
             <ion-label>RUT</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-item *ngFor="let visita of visitas">
      <ion-label>
        {{visita.title}}
      </ion-label>
      <ion-label>
        {{visita.Patente}}
      </ion-label>
      <ion-label>
        {{visita.Rut}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab size="large" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openModal()"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>