<ion-header [translucent]="true" class="headercolor">
  <ion-toolbar>
    <ion-title>
      Listado Visitas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="valign-wrapper2">
  <ion-header>
    <ion-title>
    <br><br>
    </ion-title>
  </ion-header>
  <ion-list class="valign-wrapper4">
    <ion-item *ngFor="let visita of visitas">
      <ion-avatar>

      </ion-avatar>
      <ion-label >
        {{visita.title}}
      </ion-label>

      <ion-label>
        {{visita.Rut}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab size="large" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>