<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="valign-wrapper2">
  <br><br>
  <ion-item class="wrapper2">
    <ion-img src="https://highsecurity.cl/img/logo.png"></ion-img>
  </ion-item>
  <br><br>

  <ion-card class="back">
    
    <ion-card-content>
      <ion-item>
        <ion-label>
          Elegir turno a iniciar:
        </ion-label>
        <!-- <ion-select value="brown" okText="Okay" cancelText="Dismiss" *ngFor="let shift of shifts$ | async" -->
        <ion-select value="brown" okText="Okay" cancelText="Dismiss" class="ion-text-wrap"
          (ngSubmit)="getGuardShift()">
          <ion-select-option class="ion-text-wrap" >
            {{ "10/30/2020" | date: 'short'}}
          </ion-select-option>
          <ion-select-option class="ion-text-wrap">
            {{ "11/30/2020" | date: 'short'}}
          </ion-select-option>
          <ion-select-option class="ion-text-wrap">
            {{ "12/30/2020" | date: 'short'}}
          </ion-select-option>
          <!-- <ion-select-option hidden>
            {{shift.dates+' '+shift.start+' '+shift.finish}}
          </ion-select-option> -->
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>
    <ion-button size="large" expand="block" (click)="openModal()" color="light">ver rondas de la semana</ion-button>
  <br><br>
  <br>
  <ion-button color="primary" size="large" routerLink="/login" expand="block" shape="round" size="large">Iniciar turno
  </ion-button>
</ion-content>