<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="valign-wrapper2">
  <br><br>
  <ion-item class="wrapper2">
    <ion-img src="https://highsecurity.cl/img/logo.png"></ion-img>
  </ion-item>
  <br><br>
  <br><br>
    <ion-button size="large" expand="block" (click)="openModal()" color="medium">ver rondas de la semana</ion-button>
  <br><br>
  <br>
  <ion-button color="primary" size="large" routerLink="/login" expand="block" shape="round" size="large">Iniciar sesión
  </ion-button>
</ion-content>