<ion-header [translucent]="true"color ="primary">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="valign-wrapper2">
<br><br><br><br>
<ion-item class="wrapper2">
  <ion-img src="https://highsecurity.cl/img/logo.png"></ion-img>
</ion-item>
<br><br><br><br>
<br><br><br><br>
  
   <ion-button color="primary" size="large" routerLink="/login" expand="block" shape="round" size="large">Iniciar sesión</ion-button>
  
 

</ion-content>
