<ion-header [translucent]="true">
  <ion-toolbar color ="dark">
    <ion-title class="background">
      Botones de emergencia
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="valign-wrapper2">
  <ion-list class="valign-wrapper4">
    <br>
    <ion-button expand="block" shape="round" color="warning"size="large">Ambulancia</ion-button>
    <br>
    <ion-button expand="block" shape="round" color="success" size="large">Carabineros</ion-button>
    <br>
    <ion-button expand="block" shape="round" color="danger" size="large">Bomberos</ion-button>
    <br>
    <br>
    <ion-button expand="block" shape="round" color="dark" size="large" href="tel:+56990942357">HS-Numero N°1</ion-button>
    <br>
    <ion-button expand="block" shape="round" color="dark" size="large" href="tel:+56990942357">HS-Numero N°2</ion-button>
    <br>
  </ion-list>
</ion-content>
