<ion-header>
  <ion-toolbar>
    <ion-title>Guardar Visita</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="valign-wrapper2">
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-item class="wrapper2">
          <ion-label>Ingrese Nombre y Apellido</ion-label>
        </ion-item>
        <br>
        <ion-item class="wrapper2">
          <ion-input placeholder="Ej: Juan Perez"></ion-input>
        </ion-item>
        <br>
        <ion-item class="wrapper2">
          <ion-label>Ingrese Rut</ion-label>
        </ion-item>
        <br>
        <ion-item class="wrapper2"> 
          <ion-input placeholder="Ej: 11.111.111-0"></ion-input>
        </ion-item>
        <br><br>
        <ion-button color="primary" (click)="closeModal()" size="large" expand="block" shape="round">Guardar Visita</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
